<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/success.css"/>
    <script type="text/javascript" src="/static/cart/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/cart/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/cart/js/swiper.min.js"></script>
</head>

<body>
<!--头部-->
<div class="alert-info">
    <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
            <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
                <a href="//gulimall.com">谷粒商城首页</a>
            </li>
        </ul>

        <ul class="hd_wrap_right" th:object="${session}">
            <li class="forel">
                <a th:if="*{loginUser==null}" href="//auth.gulimall.com/login.html" class="link_login">你好，请登录</a>
                <a th:if="*{loginUser!=null}" class="link_login">[[*{loginUser.username}]]</a>
                &nbsp;<a th:if="${loginUser==null}" href="//auth.gulimall.com/reg.html" class="link_regist">免费注册</a>
            </li>
            <li class="spacer"></li>
            <li>
                <a href="javascript:;">我的订单</a>
            </li>
        </ul>
    </div>
</div>

<div class="nav-tabs-justified">
    <div class="nav_wrap">
        <div class="nav_top">
            <div class="nav_top_one">
                <a href="//gulimall.com"><img src="/static/cart/img/logo1.jpg" style="height: 60px;width:180px;"/></a>
            </div>
            <div class="nav_top_two"><input type="text"/>
                <button>搜索</button>
            </div>
        </div>
    </div>
</div>

<div class="main">

    <div class="success-wrap">
        <div class="w" id="result">
            <div class="m succeed-box">
                <div class="mc success-cont" th:if="${orderSn!=null}">
                    <div class="success-lcol" style="float:none">
                        <div class="success-top"><b class="succ-icon"></b>
                            <h3 class="ftx-02">恭喜秒杀成功！订单号 [[${orderSn}]]</h3>
                        </div>
                    </div>
                    <div class="success-btns success-btns-new">
                        <div class="bg_shop">
<!--                            <a class="btn-tobback"-->
<!--                               th:href="'//item.gulimall.com/'+${item.skuId}+'.html'">查看商品详情</a>-->
                            <a class="btn-addtocart" th:href="|http://order.gulimall.com/pay?orderSn=${orderSn}|"
                               id="GotoShoppingCart"><b></b>去支付</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/static/cart/js/success.js"></script>

</html>
